    <div class='top-bar'>
      <div class='top-bar-left'>
        <ul class='dropdown menu' data-dropdown-menu>
          <li class='menu-text'>Wallet</li>
          <li><a href='{{url_for('Dashboard:index')}}'>Dashboard</a></li>
          <li><a href='{{url_for('Savings:index')}}'>Savings</a></li>
          <li><a href='{{url_for('Income:index')}}'>Your Income</a></li>
          <li><a href='{{url_for('Expense:index')}}'>Your Expenses</a></li>
          <li><a href='{{url_for('Reward:index')}}'>Your Rewards</a></li>
        </ul>
      </div>
    </div>
