{% extends 'common.html' %}

{% block body -%}
  <body>
    {% include 'navbar.html' %}
    <h1>Savings</h1>
    <form action='{{url_for('Savings:post')}}' method='POST'>
      <input type='text' name='name' placeholder='Name'>
      <input type='number' name='amount' placeholder='Amount'>
      <button type='submit'>Submit</button>
    </form>

    <table>
      <tr>
        <th>Name</th>
        <th>Amount</th>
      </tr>
      {% for r in savings %}
      <tr>
        <td>{{r.name}}</td>
        <td>{{r.amount | format_currency}}</td>
        <td>
          <form action='{{url_for('Savings:delete')}}' method='POST'>
            <input type='hidden' name='id' value='{{r.id}}'>
            <button type='submit'>Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js'></script>
    <script>
      $(document).foundation();
    </script>
  </body>
{% endblock %}
